@charset "UTF-8";

@media screen and (min-width: 768px){
    
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Oxygen', sans-serif;
        list-style: none;
    }
    
    :root{
        --darkpurple:#7614F4;
        --lightpurple:#AB6BFF;
        --darkyellow:#A8A500;
        --lightyellow:#F5F014;
    }
    
    #self{
        margin:auto;
        width: 180px;
        height: 180px;
        box-shadow: 6px 2px 5px rgba(23, 23, 17, 0.538);
        border-radius: 50%;
    }
    
    #git,
    #link,
    #logo{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}