@charset "UTF-8";

@media screen and (min-width: 768px){
    
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: 'Oxygen', sans-serif;
        list-style: none;
    }
    
    :root{
        --darkpurple:#7614F4;
        --lightpurple:#AB6BFF;
        --darkyellow:#A8A500;
        --lightyellow:#F5F014;
    }
}