@charset "UTF-8";
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    list-style: none;
    letter-spacing: 0.7px;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

:root{
    --bgcolor:#002E20;
    --standardcolor:#48EB50;
    --textcolor:#00EBA4;
}

body{
    width: 100vw;
    color: white;
    background-color: var(--bgcolor);
}

#interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding: 2em 5%;
    background-color: var(--bgcolor);
}

#navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 10px 5%;
    background: transparent;
}

#bgcode{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 150px;
    border-radius: 50%;
    border: 2px solid var(--standardcolor);
    box-shadow: 0 0 15px var(--standardcolor);
    animation: coverImage 3s infinite;
    opacity: 0;
}

@keyframes coverImage {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        box-shadow: 0 0 30px var(--standardcolor);    
    }
}

#bgcode:hover{
    background-color: var(--standardcolor);
    color: var(--bgcolor);
    box-shadow: 0 0 30px var(--standardcolor);
    cursor: pointer;
}

#itens{
    display: none;
    margin-top: 5px;
}

@keyframes slideRight {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#navbar > div#itens > a{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: var(--standardcolor);
    text-decoration: none;
    padding: 10px;
    transition: .3s;
    animation: slideRightNav .5s ease forwards;
    animation-delay: calc(.2s * var(--bar));
}

@keyframes slideRightNav {
    0% {
        transform: translateY(250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#navbar > div#itens > a:hover,
#navbar > div#itens > a#active{
    color: white;
}

#page1{
    display: grid;
    grid-template-columns: 400px;
}
#page1-content{
    max-width: 600px;
}

#page1-content > h3{
    font-size: 25px;
    padding: 10px;
}

#page1-content > h1{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

#page1-content > h2{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    animation: slideRightSpan 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

#page1-content > h2 > span{
    color: var(--standardcolor);
}

@keyframes slideRightSpan {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

div#self{
    display: flex;
    justify-content: center;
    align-items:center;
}

div#self> img{
    width: 200px;
    height: 250px;
    border-radius: 10%;
    animation: zoomAppear 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    opacity: 0;
}

@keyframes zoomAppear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

section#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

section#about > p{
    color: var(--bgcolor);
    padding: 15px;
}

.button{
    display: inline-flex;
    width: 130px;
    height: 50px;
    padding: 12px 28px;
    letter-spacing: 1px;
    background-color: var(--standardcolor);
    border-radius: 45px;
    box-shadow: 0 0 12px var(--standardcolor);
    font-size: 18px;
    color: var(--bgcolor);
    font-weight: bolder;
    transition: .5s ease-in;
}

.button:hover{
    box-shadow: none;
}

#logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#logo5{
    width: 100px;
    height: 80px;
}

#logo3{
    width: 90px;
    height: 100px;
}

#logoj{
    width: 80px;
    height: 80px;
}

section#services{
    background-color: var(--bgcolor);
}

section#media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: black;
}

#social{
    display: flex;
    flex-direction: row;
    gap: 4em;
}

#social > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid var(--standardcolor);
    border-radius: 50%;
    font-size: 30px;
    color: var(--standardcolor);
    transition: .4s ease;
}

#social > a:hover{
    background-color: var(--standardcolor);
    color: var(--bgcolor);
    box-shadow: 0 0 30px var(--standardcolor);
}

#contacts{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--standardcolor);
    background: transparent;
    font-size: 20px;
}

#contacts > p{
    padding: 5px;
    font-weight: bold;
    transition: .4s ease;
}

#contacts > p:hover{
        color: white;
}

footer{
    font-size: 15px;
    text-align: center;
    color: white;
    padding: 10px;
}
