@charset "UTF-8";
    
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bgcolor:#002E20;
    --standardcolor:#48EB50;
    --textcolor:#00EBA4;
}


html{
    scroll-behavior: smooth;
    background-color: black;
}

body{
    letter-spacing: 0.7px;
    color: white;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7em;
    z-index: 100;
    position: fixed;
    top: 0;
    left: -5%;
    width: 100%;
    height: 60px;
    padding: 10px 5%;
    background: transparent;
}

#navbar > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--standardcolor);
    margin-top: 60px;
    margin-left: 20px;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#navbar > a{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: var(--standardcolor);
    text-decoration: none;
    padding: 5px;
    transition: .3s;
    animation: slideRightNav .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideRightNav {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 0.5;
    }
}

#navbar > a:hover{
    color: white;
}

#page1{
    display: flex;
    justify-content: first baseline;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px 5%;
}

#page1-content{
    max-width: 600px;
    margin-top: 90px;
}

#page1-content > h3{
    font-size: 20px;
    font-weight: bold;
}

#page1-content h3:nth-last-of-type(2){
    margin-bottom: 20px;
}

#page1-content > h3 > span{
    color: var(--standardcolor);
}

#page1-content > h1{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
}

#page1-content > p{
    font-size: 15px;
    margin-top: 10px;
}

div#self{
    display: flex;
    align-items: center;
    text-align: center;

}

div#self > img{
    width: 200px;
    height: 250px;
    border-radius: 10%;
}

#cv{
    display: inline-block;
    width: 130px;
    height: 50px;
    padding: 12px 28px;
    margin-top: 30px;
    background-color: var(--standardcolor);
    border-radius: 45px;
    box-shadow: 0 0 12px var(--standardcolor);
    font-size: 18px;
    color: var(--bgcolor);
    font-weight: bold;
}

.interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
}

#exp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    align-items: first baseline;
    gap: 1em;
    padding: 20px;
    margin-top: 10px;
}

div#exp > div > h1{
    color: var(--standardcolor);
    padding: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

div#exp > div > p{
    color: white;
    font-size: 1em;
    font-weight: light;
    margin: auto;
    padding: 10px;
}

#logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
}

#logo5{
    width: 100px;
    height: 80px;
}

#logo3{
    width: 100px;
    height: 100px;
}

#logoj{
    width: 100px;
    height: 80px;
}

#page2{
    background-color: yellow;
}

#page3{
    background-color: red;
}

section#page4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    background-color: white;
    color: black;
    height: 20vh;
}

#social{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#social > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--standardcolor);
    border-radius: 50%;
    font-size: 20px;
    color: var(--standardcolor);
    transition: .4s ease;
}

#social > a:hover{
    background-color: var(--standardcolor);
    color: var(--bgcolor);
    box-shadow: 0 0 20px var(--standardcolor);
}

#contacts{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--standardcolor);
    background: transparent;
    font-size: 17px;
    text-decoration: none;
}

#contacts > p{
    padding: 10px;
    font-weight: bold;
    transition: .4s ease;
}

#contacts > p:hover{
        color: var(--bgcolor);
}

footer{
    font-size: 15px;
    text-align: center;
}
